@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

/* NORMALIZE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* NORMALIZE */

body {
  background: #121212;
  color: #f1f1f1;
  font: 500 normal 22px/1.3 "Inter", sans-serif;
}
.mwg_effect040 .scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mwg_effect040 .pin-height {
  height: 500vh;
}
.mwg_effect040 .container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.mwg_effect040 .parent-circle {
  width: 80vw;
  height: 80vw;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.mwg_effect040 .parent-circle-left {
  right: 52%;
}
.mwg_effect040 .parent-circle-right {
  left: 52%;
}
.mwg_effect040 .circle {
  position: absolute;
  inset: 0;
}
.mwg_effect040 .label {
  position: absolute;
  right: 50%;
  top: 100%;
  transform: translate(0, -50%);
  transform-origin: 100% 50%;
  font: 500 normal 4vw / normal "Inter", sans-serif;
  white-space: nowrap;
}
.mwg_effect040 .media {
  width: 12vw;
  height: 12vw;
  display: block;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(0, -50%);
  transform-origin: 0 50%;
  border-radius: 0.8vw;
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.13));
}

@media (max-width: 768px) {
  .mwg_effect040 .parent-circle {
    width: 160vw;
    height: 160vw;
  }
  .mwg_effect040 .label {
    font-size: 6vw;
  }
  .mwg_effect040 .media {
    width: 16vw;
    height: 16vw;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
